{##
  # Partial template for displaying a form to add a comment to a recipe
  #
  # x-data input
  # ------------
  # recipe: object { id, title, prep_time, cook_time, directions, author }
  #
  #}

<script>

function init_model() {
  return {
    comment_title: '',
    comment_body: '',
    display_error: false,

    submit_comment() {
      fetch("/api/comments/add", {
        method: 'post',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          comment_title: this.comment_title,
          comment_body: this.comment_body,
          recipe_id: {{recipe["id"]}}
        })
      })
      .then(res => {
        if (res.ok) location.reload(); // reload page to display new comment
        else this.display_error = true;
      })
    }
  }
}
</script>

<div x-data="init_model()">
  <h3>Add a Comment</h3>
  <div class="py-3">
    <div class="col-12 pb-3">
      <input type="text" x-model="comment_title" class="form-control" placeholder="Title">
    </div>
    <div class="col-12 pb-3">
      <textarea x-model="comment_body" class="form-control" style="min-height: 8rem"></textarea>
    </div>
    <div class="invalid-feedback pb-3" :class="display_error ? 'd-block' : ''" id="invalid-comment-feedback">Please verify that both the comment title and body are filled, then try again.</div>
    <button type="button" class="btn btn-primary" @click="submit_comment()">Submit</button>
</div>