<div class="py-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title" x-text="comment[1]"></h5>
        </div>
        <div class="col-auto">
          <template x-if="{{user}} == comment[3]">
            <button type="button" class="btn btn-danger" @click="delete_comment(comment[0])">Delete</button>
          </template>
        </div>
      </div>
      <p class="card-text" x-text="comment[2]"></p>
    </div>
  </div>
</div>
