{% extends "root.html" %}
{% block content %}
<script>
    function mybtn(){
        //Will need a global variable user_profile_url so var bgImg = user_profile_url
        var bgImg;
        let myButton = document.getElementById("drop");
        //If a global variable user_profile_pic is null set default picture else set user_profile_pic
        if(bgImg == null){
            myButton.style.backgroundImage = 'url(https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80)';
        } else {
            myButton.style.backgroundImage = bgImg;
        }
    }
    function logout_model() {
        return {
            open: false,
            are_you_sure(){
                let text = "Are you sure to logout?";
                if (confirm(text) == true) {
                    window.location.href = "/logout"
                }
            }
        }
    }

</script>
<!--need a way to change bg-image-->
<style>
    .drop-btn {
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 16px;
        border: 1px solid black;
    }
    .dropdown-content {
        position: absolute;
        background-color: #00000000;
        min-width: 80px;
        z-index: 1;
        margin-top: 20px;
    }
    .dropdown-content a {
        color: black;
        font-family: helvetica;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
    }
    hr.solid {
        border-left: none;
        border-right: none;
        border-top: 1px solid #000000;
        border-bottom: none;
    }

</style>

<div class="dropdown" x-data="logout_model()">
    <button id="drop" class="drop-btn" @click="open = !open" x-init="mybtn()"></button>
    <div class="dropdown-content" x-show = "open">
      <hr class="solid">
      <a @click = "are_you_sure()">Logout</a>
      <hr class="solid">
    </div>
  </div>
{% endblock %}