{% extends "root.html" %}
{% block content %}

<script>
  function remove_tag(tag) {
    fetch('/api/recipes/{{ recipe["id"] }}/tags/' + tag, {
      method: 'DELETE'
    })
      .then(response => window.location.reload(true))
  }

  function delete_recipe(){
    fetch('/api/recipes/{{ recipe["id"] }}', {
      method: 'DELETE'
    })
      .then(response => {if (response.ok) window.location.href='/search'})
}

  function delete_comment(comment_id) {
    fetch("/api/comments/" + comment_id, { method: 'DELETE' })
    .then(res => {
      if (res.ok) location.reload(); // reload page to redisplay comments
    })

  }

  document.addEventListener('alpine:init', () => {
	Alpine.data('likeButton', () => ({
	  liked: {{ "true" if is_liked else "false" }},
	  num_likes: {{ recipe["num_likes"] }},

	  toggle() {
		this.liked=!this.liked;
		if(this.liked){
		  this.num_likes++;
		  fetch('/api/recipes/{{ recipe["id"] }}/like', { method: 'POST' }).then(res => {
			if (!res.ok) console.log("failed");
		  });
		}else{
		  this.num_likes--;
		  fetch('/api/recipes/{{ recipe["id"] }}/like', { method: 'DELETE' }).then(res => {
			if (!res.ok) console.log("failed");
		  });
		}
	  }
	}));
	Alpine.data('addShoppingList', () => ({
	  added: false,
	  ingredient_id: null,
	  toggle() {
		let method = this.added?'DELETE':'POST';
		let add_rm = this.added?'remove':'add';
		fetch('/api/shopping_list/'+add_rm+'_ingredient/'+this.ingredient_id, { method: method }).then(res => {
		  if (!res.ok) console.log("failed");
		});
		this.added=!this.added;
	  }
	}));
  });
</script>

{% if recipe is none %}
<p>The specified recipe does not exist!</p>
{% else %}
<div x-data="{ comments: [] }" x-init="comments = await (await fetch('/api/recipes/{{ recipe["id"] }}/comments')).json()">
  <div class="container">
	<div class="row">
      <h1 class="col">{{ recipe["title"] }}</h1>
      <div class="align-left">
        {% if recipe["image"] %}
          <img src="data:image/png;base64,{{ image }}"
               height="500"/>
        {% endif %}
      </div>
	  <div class="col align-center align-self-center">
		{% if user is none %}
		<div class="align-center align-self-center" style="width: min-content; display: flex;">
		  <svg xmlns="http://www.w3.org/2000/svg" class="align-center align-self-centre" viewBox="0 0 512 512" height="25" style="margin-right: 10px;" fill="currentColor">
			  <path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"/>
		  </svg>
		  <div style="height: max-content;" class="align-center align-self-center">
			{{ recipe["num_likes"] }}
		  </div>
		</div>
		{% else %}
		<div class="align-center align-self-center btn" x-data="likeButton" x-bind:class="liked?'btn-secondary':'btn-light'" x-on:click="toggle();" style="display: flex; width: min-content;">
		  <svg xmlns="http://www.w3.org/2000/svg" class="align-center align-self-centre" viewBox="0 0 512 512" height="25" style="margin-right: 10px;" x-bind:fill="liked?'currentColor':'none'" x-bind:stroke="liked?'none':'currentColor'" stroke-width="15">
			  <path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"/>
		  </svg>
		  <div style="height: max-content;" class="align-center align-self-center" x-text="num_likes">
			{{ recipe["num_likes"] }}
		  </div>
		</div>
		{% endif %}
	  </div>
	</div>
    <div class="row">
      <div class="col">
        <h4>Estimated Time</h4>
        <div class="row">
          <div class="col">
            {% if recipe["prep_time"] %}
              <p>Prep time: {{ recipe["prep_time"] }}</p>
            {% else %}
              <p>Prep time: (unknown)</p>
            {% endif %}
          </div>
          <div class="col">
            {% if recipe["cook_time"] %}
              <p>Cook time: {{ recipe["cook_time"] }}</p>
            {% else %}
              <p>Cook time: (unknown)</p>
            {% endif %}
          </div>
        </div>

        <h4>Ingredients</h4>
        <div class="container">
          {% if not ingredients %}
            <p>(none)</p>
          {% endif %}
          <ul class="list-group">
            {% for ingredient in ingredients %}
              <li class="list-group-item">
                <div class="ms-2 me-auto">
				  <div style="display: flex; justify-content: space-between;">
					<div class="fw-bold">{{ ingredient[1] }}</div>
					{% if user is not none %}
				  	  <button class="btn" x-data="addShoppingList"
				  	  		x-init="added={{ "true" if ingredient[4] else "false" }}; ingredient_id='{{ ingredient[0] }}';"
				  	  		x-text="added?'Remove from Shopping List':'Add to Shopping List'"
				  	  		x-bind:class="added?'btn-danger':'btn-primary'"
				  	  		x-on:click="toggle()"
				  	  />
					{% endif %}
				  </div>
                  <label>{{ ingredient[2] }}</label>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <h4>Directions</h4>
        <div class="container">
          <p>{{ recipe["directions"] }}</p>
        </div>
      </div>

      <div class="col-2">
        <h4>Author</h4>
        <a href="/profile/{{ author["id"] }}">{{ author["name"] }}</a>
        <h4>Tags</h4>
        {% if allow_edits %}
          <div x-data="{ server_tags: [] }"
              x-init="server_tags = await (await fetch('/api/tags')).json()">
            <form action="/recipes/{{ recipe["id"] }}/tags" method="post">
              <select class="form-select" name="tag">
                <template x-for="server_tag in server_tags" :key="server_tag[0]">
                  <option :value="server_tag[1]" x-text="server_tag[1]"></option>
                </template>
              </select>
              <input class="btn btn-primary" type="submit" value="Add tag"></input>
            </form>
            <form action="/api/recipes/{{ recipe["id"] }}/images/add" method="post" enctype="multipart/form-data">
              <div class="form-group">
                  <input class="form-control" name="image" type="file">
              </div>
              <input class="btn btn-primary" type="submit" value="Add image"></input>
            </form>
          </div>
          <br/>
      <a href="/recipes/edit/{{recipe["id"]}}" class="btn btn-primary">Edit recipe</a>
      <a x-data="{delete_recipe}" @click='delete_recipe' class="btn btn-primary">Delete recipe</a>
      <br/>
        {% endif %}

        {% if not tags %}
          <p>(none)</p>
        {% endif %}
        <div x-data="{ remove_tag }">
        {% for tag in tags %}
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-secondary" href="/search?tag={{ tag[1] }}">{{ tag[1] }}</a>
            </div>
            {% if allow_edits %}
              <div class="col">
                <p class="btn" @click='remove_tag("{{ tag[1] }}")'>&cross;</p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container py-3">
    <h3>Comments on this Recipe</h3>
    <template x-for="comment in comments" :key="comment[0]">
      {% include "partials/comment.html" %}
    </template>
  </div>

  <div class="container py-3">
    {% include "partials/add_comment.html" %}
  </div>
</div>

{% endif %}

{% endblock %}
