{% extends "root.html" %}
{% block content %}

<script>
function init_model() {
  return {
    search_pattern: '{{ default_query }}',
    search_tags: {{ default_tag|tojson }},
    search_page: 0,

    pending_pattern: '{{ default_query }}',
    pending_tags: {{ default_tag|tojson }},

    recipes: [],
    server_tags: [],
    fetch_success: true,

    fetch_recipes() {
      fetch("./api/search" +
          "?q=" + encodeURIComponent(this.search_pattern) +
          "&start=" + this.search_page +
          this.search_tags.map(e => "&tags[]=" + e).join(''))
        .then(response => {
          this.fetch_success = response.ok
          this.recipes = []
          if (response.ok)
            return response.json()
        })
        .then(data => this.recipes = data)
    },

    fetch_tags() {
      fetch("./api/tags")
        .then(response => { if (response.ok) return response.json() })
        .then(data => this.server_tags = data)
    },

    hit_search_btn() {
      this.search_page = 0
      this.search_pattern = this.pending_pattern
      this.search_tags = this.pending_tags
      this.fetch_recipes()
    },

    hit_prevpg_btn() {
      if (this.search_page > 0) {
        this.search_page--
        this.fetch_recipes()
      }
    },

    hit_nextpg_btn() {
      if (this.recipes.length) {
        this.search_page++
        this.fetch_recipes()
      }
    },

    init() {
      this.fetch_tags()
      this.fetch_recipes()
    }
  }
}
</script>

<div class="container" x-data="init_model()">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" x-model="pending_pattern"
               placeholder="Type recipe name here" aria-describedby="button-search">
        <button class="btn btn-outline-primary" id="button-search" @click="hit_search_btn()">
          Search
        </button>
      </div>
    </div>
    <div class="col-2 btn-group" role="group-pagination" aria-label="Pagination">
      <button class="btn btn-secondary" @click="hit_prevpg_btn()">&laquo;</button>
      <button class="btn btn-secondary" @click="hit_nextpg_btn()">&raquo;</button>
    </div>
  </div>

  <div class="accordion" id="accordionTags">
    <div class="accordion-item">
      <h2 class="accordion-header" id="tag-section">
        <button
          {% if default_tag|length == 0 %}
                class="accordion-button collapsed"
          {% else %}
                class="accordion-button"
          {% endif %}
                data-bs-toggle="collapse"
                data-bs-target="#collapse-tags"
                aria-expanded="false"
                aria-controls="collapse-tags">
          Filter tags
        </button>
      </h2>
      <div id="collapse-tags"
        {% if default_tag|length == 0 %}
           class="accordion-collapse collapse"
        {% else %}
           class="accordion-collapse"
        {% endif %}
           aria-labelledby="tag-section"
           data-bs-parent="#accordionTags">
        <div class="accordion-body">
          <template x-for="rtag in server_tags" :key="rtag[0]">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" :id="'cb-' + rtag[0]"
                     :value="encodeURIComponent(rtag[1])" x-model="pending_tags">
              <label class="form-check-label" :for="'cb-' + rtag[0]" x-text="rtag[1]"></label>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <p x-show="!fetch_success">Something went wrong. Please try again later!</p>
  <p x-show="fetch_success && !recipes.length">(none on this page)</p>

  <template x-for="recipe in recipes" :key="recipe.id">
    {% include "partials/recipe_card.html" %}
  </template>

  <div class="btn-group" role="group-pagination" aria-label="Pagination">
    <button class="btn btn-secondary" @click="hit_prevpg_btn()">&laquo;</button>
    <button class="btn btn-secondary" @click="hit_nextpg_btn()">&raquo;</button>
  </div>
</div>
{% endblock %}

